{% extends 'core/base.html' %} 

{% block content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />

    <main class="py-6 px-8">
        <div class="py-6 px-8 bg-slate-300 rounded-2xl">
            <h1 class="mb-6 text-3xl">{{ project.name }}</h1>
            <div class="flex items-center justify-between">
                <div>
                    <a href="{% url 'project:project_list' %}" class="mt-2 py-3 px-8 bg-gray-600 text-white text-xl rounded-full" style="text-decoration: none;">Back To Projects</a>
                </div>
                
                <div class="space-x-3">
                    <form class="inline-block"  method="POST" action="{% url 'project:complete_project' project.id %}">
                        {% csrf_token %}

                        <button type="submit" class="mt-2 py-3 px-8 bg-green-600 text-white text-xl rounded-full">
                            {% if project.completed == 0 %}
                                Mark as Done
                            {% else %}
                                Undo Completion
                            {% endif %}
                        </button>
                    </form>
                    <a href="{% url 'project:edit_project' project.id %}" class="mt-2 py-3 px-8 bg-blue-600 text-white text-xl inline-block rounded-full">Edit</a>
                    <form id="deleteForm" action="{% url 'project:delete_project' project.id %}" method="POST" class="inline-block">
                        {% csrf_token %}
                        <button type="button" onclick="showDeleteModal();" class="mt-2 py-3 px-8 bg-red-600 text-white text-xl rounded-full">
                            Delete
                        </button>
                    </form>
                </div>

                <div>
                    <form id="deleteForm" action="{% url 'project:upload_file' project.id %}" method="POST" enctype="multipart/form-data" class="inline-block">
                        {% csrf_token %}
                        <button type="button" onclick="showUploadModal();" class="mt-2 py-3 px-8 bg-stone-500 text-white text-xl inline-block rounded-full">
                            Upload Attachment
                        </button>
                    </form>
                </div>
            </div>

            <div class="mt-4">
                <h2 class="mb-2 text-xl font-bold">Progress:  {{tasks_completed}}/{{ tasks_count }} </h2>
                <div class="relative w-full h-4 bg-gray-200 rounded overflow-hidden">
                    <div class="absolute top-0 left-0 h-full bg-green-500 rounded transition-all duration-300" style="width: {{ progress }}%;">
                        <div class="absolute top-0 left-0 h-full w-full bg-gradient-to-r from-green-100 to-green-900 opacity-25"></div>
                    </div>
                </div>
            </div>
        </div>

        {% if project_files %}
        <div class="mt-4 mb-4 px-8 bg-slate-300 rounded-2xl">
            <div class="h-2"></div> 
            <div class="my-3 text-3xl">Attachments</div>
            {% for project_file in project_files %}
            <ul class="list-none">
                <li class="flex items-center my-2">
                    <a href="{{ project_file.attachment.url }}" download="{{ project_file.name }}" class="text-lg">
                        <strong>{{ project_file.name }}</strong>
                    </a>
                    
                    <form action="{% url 'project:delete_attachment' project.id project_file.id %}" method="POST" class="h-6 px-4">
                        {% csrf_token %}
                        <button >
                            <span class="material-symbols-outlined" style="cursor: pointer;">
                                close
                            </span>
                        </button>
                    </form>
                    
                </li>
            </ul>
            {% endfor %}
            <div class="h-4"></div> 
        </div> 
        {% endif %}

        <div class="mt-4 mb-4 px-8 bg-slate-300 rounded-2xl">
            <div class="h-2"></div> 
            <div class="mt-3 text-3xl">Tasks</div>
            <a href="{% url 'task:add_task' project.id %}" class="my-4 py-3 px-8 bg-teal-600 text-white text-xl inline-block rounded-full">Add Task</a>

            {% for task in tasks %}
                <div class="flex justify-between items-center mb-3">
                    <form action="{% url 'task:complete_task' project.id task.id %}" method="POST" class="w-full mr-6">
                        {% csrf_token %}
                        <button type="submit" class="w-full h-12 px-8 flex items-center bg-slate-200 rounded-xl text-left">
                            {% if task.completed %}
                                <p class="line-through text-black text-xl">{{ task.name }}</p>
                            {% else %}
                                <p class="text-black text-xl">{{ task.name }}</p>
                            {% endif %}
                        </button>
                    </form>

                    <div class="flex space-x-4 items-center">
                        <a href="{% url 'task:edit_task' project.id task.id %}" class="h-12 flex items-center justify-center py-2 px-8 bg-blue-500 text-white text-xl rounded-xl">
                            Edit
                        </a>

                        <form action="{% url 'task:complete_task' project.id task.id %}" method="POST" class="h-12">
                            {% csrf_token %}
                            <button type="submit" class="h-full w-48 flex items-center justify-center py-2 px-8 bg-green-500 text-white text-xl whitespace-nowrap rounded-xl">
                            {% if task.completed %}
                                Undo Completion
                            {% else %}
                                Mark as Done
                            {% endif %}
                            </button>
                        </form>

                        <form action="{% url 'task:delete_task' project.id task.id %}" method="POST" class="h-12">
                            {% csrf_token %}
                            <button type="submit" class="h-full flex items-center justify-center py-2 px-8 bg-red-500 text-white text-xl rounded-xl">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <div class="h-2"></div> <!-- You can adjust height as needed -->
        </div>

        <!-- Modal Structure -->
        <div id="confirmationModal" class="hidden fixed inset-0 flex items-center justify-center z-50">
            <!-- Background overlay -->
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>

            <!-- Modal content -->
            <div class="bg-white p-8 rounded-lg shadow-lg z-10 max-w-md mx-auto w-full">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Are you sure?</h2>
                <p class="text-gray-600 mb-6">Do you really want to delete this project? This action cannot be undone.</p>
                <div class="flex justify-end space-x-3">
                    <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition" onclick="closeModal();">No</button>
                    <button type="button" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition" onclick="confirmDelete();">Yes, Delete</button>
                </div>
            </div>
        </div>

        <!-- Upload Attachment Modal -->
        <div id="uploadModal" class="hidden fixed inset-0 flex items-center justify-center z-50">
            <!-- Background overlay -->
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>

            <!-- Modal content -->
            <div class="bg-white p-8 rounded-lg shadow-lg z-10 max-w-md mx-auto w-full">
                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Upload Attachment</h2>
                <form action="{% url 'project:upload_file' project.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="attachment" class="mb-4">
                    <div class="flex justify-end space-x-3">
                        <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500 transition" onclick="closeUploadModal();">Cancel</button>
                        <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition">Upload</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <!-- JS code for modal structure of deleting projects -->
    <script>

        // PROJECT DELETION Modal functions
        // Show the modal
        function showDeleteModal() {
            document.getElementById('confirmationModal').classList.remove('hidden');
        }
        // Hide the modal
        function closeModal() {
            document.getElementById('confirmationModal').classList.add('hidden');
        }
        // Submit the form when the user confirms
        function confirmDelete() {
            document.getElementById('deleteForm').submit();
        }


        // UPLOAD ATTACHMENT Modal functions
        // Show the upload modal
        function showUploadModal() {
            document.getElementById('uploadModal').classList.remove('hidden');
        }
        // Hide the upload modal
        function closeUploadModal() {
            document.getElementById('uploadModal').classList.add('hidden');
        }
    </script>

{% endblock %}